#======================
# PUERTO DEL SERVIDOR
SERVER_PORT=            # PUERTO EN EL Q SE EJECUTARA EL SERVER DE NODE

#======================
# Conexion a la base de datos(mysql)
DB_USER=                # USUARIO PARA ACCEDER A LA BASE DE DATOS
DB_PASSW=               # CONTRASEÑA DE LA BASE DE DATOS  
DB_HOST=                # HOST DE LA BASE DE DATOS(si es local localhost o el establecido)
DB_PORT=                # PUERTO DE LA BASE DE DATOS
DB_NAME=                # NOMBRE DE LA BASE DE DATOS

#======================
# Configuracion del hash de bcrypt(cuantas veces se repite = 2ⁿ) recomendado ponerlo a 10 segun el estandar
SALT_ROUND_HASH=        # NUMERO DE VECES Q SE REPITE EL ALGORITMO DE BCRYPT PARA  HACER EL HASH

#======================
# Configuracion de la llave secreta para los Tokens
SECRET_KET_JWT=        # LLAVE(key) Q UTILIZARA JWT PARA FIRMAR LOS TOKENS